{% extends "base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
{% endblock stylesheets %}

{% block content %}
<div class="container mt-5"> <!-- Fixed the id attribute -->
    <h1 class="text-center">Transactions</h1>
    <table id="transactions-table" class="table table-striped nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Cause</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.sender.name }}</td>
                    <td>{{ transaction.receiver.name }}</td>
                    <td>
                        {% if transaction.sender.account == 'antenehgebey' %}
        <i class="fa-solid fa-minus text-danger"></i>
    {% else %}
        <i class="fa-solid fa-plus text-success"></i>
    {% endif %}
                        {{ transaction.amount }}
    
</td>

                    <td>{{ transaction.currency }}</td>
                    <td>{{ transaction.cause }}</td>
                    <td>{{ transaction.created_at_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Added jQuery -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $("#transactions-table").DataTable({
            responsive: true
        });
    });
</script>
{% endblock scripts %}
