<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.4.1/css/rowReorder.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" />
    <style>
        #loading {
            text-align: center;
        }
        #loading img {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Dashboard</h1>
    <div id="table-container">
        <table id="transactions-table" class="display">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Cause</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr id="loading">
                    <td colspan="7">
                        <img src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="Loading...">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.4.1/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/en/transaction/find-by-user',
                success: function (response) {
                    $('#loading').remove(); // Remove loading indicator row
                    $('#transactions-table').DataTable({
                        responsive: true,
                        data: response.data,
                        columns: [
                            { data: 'id' },
                            { data: 'sender.name' },
                            { data: 'receiver.name' },
                            { data: 'amount' },
                            { data: 'currency' },
                            { data: 'cause' },
                            { data: 'created_at_time' }
                        ]
                    });
                },
                error: function () {
                    $('#loading').html('<td colspan="7">Failed to load data.</td>');
                }
            });
        });
    </script>
</body>
</html>
